body {
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 300px;

    height: 500px;
    background: linear-gradient(var(--sky), var(--sky2), var(--sky3));
   

   
}

:root {
    --sky: #4f7db3;
    --sky2: #3a3d98;
    --sky3: #a1a4e4;


}

   
  


.circulo {
  width: 100px;  
  height: 100px;
  background-color: rgb(233, 246, 84);
  border-radius: 50% 50% 50% 50% / 50% 30% 70% 70%;
 
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
  display: flex;
  

}

.circulo2 {
  width: 100px;  
  height: 100px;
  background-color: rgb(233, 246, 84);
  border-radius: 50% 50% 50% 50% / 50% 30% 70% 70%;
 
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 150px;
  display: flex;
  

}

.circulo3 {
  width: 100px;  
  height: 100px;
  background-color: rgb(233, 246, 84);
  border-radius: 50% 50% 50% 50% / 50% 30% 70% 70%;
 
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 30px;
  display: flex;
  

}

.estrellas {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 300px;
    left: 100px;
    background-color: rgb(236, 205, 33);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% );
}

.estrellas2 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 300px;
    left: 100px;
    background-color: rgb(236, 205, 33);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% );
}

.estrellas3 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 150px;
    background-color: rgb(236, 205, 33);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% );
}

.estrellas4 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 300px;
    background-color: rgb(236, 205, 33);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% );
}

.estrellas5 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 200px;
    left: 300px;
    background-color: rgb(236, 205, 33);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% );
}

.estrellas6 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 400px;
    left: 250px;
    background-color: rgb(236, 205, 33);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% );
}

